<MudPaper Class="mt-8 py-6" Outlined="true" Square="true" Elevation="0">
    <MudContainer>
        <MudGrid Justify="Justify.Center" Spacing="2">

            <MudItem xs="12" Class="d-flex justify-center">
                <MudLink Href="https://www.instagram.com/lojamorganite/" Target="_blank" Color="Color.Inherit">
                    <MudIcon Icon="@Icons.Custom.Brands.Instagram" Size="Size.Large" Color="Color.Primary" />
                </MudLink>
            </MudItem>

            <MudItem xs="12" Class="d-flex justify-center flex-wrap gap-4">

                <div class="d-flex align-center gap-2">
                    <MudIcon Icon="@Icons.Material.Filled.Phone" Size="Size.Small" Color="Color.Primary" />
                    <MudText Typo="Typo.body2">(11) 96306-8734</MudText>
                </div>

                <MudHidden Breakpoint="Breakpoint.Xs">
                    <MudText Typo="Typo.body2">|</MudText>
                </MudHidden>

                <div class="d-flex align-center gap-2">
                    <MudIcon Icon="@Icons.Material.Filled.Email" Size="Size.Small" Color="Color.Primary" />
                    <MudText Typo="Typo.body2">lojamorganite@gmail.com</MudText>
                </div>

            </MudItem>

            <MudItem xs="12">
                <MudText Typo="Typo.caption" Align="Align.Center" Class="d-block text-muted">
                    © 2021 Comercial Morganite. CNPJ 42.191.233/0001-69
                </MudText>
            </MudItem>

        </MudGrid>
    </MudContainer>
</MudPaper>